*~
build
mms.pro.user*
mms-engine/mms-engine.pro.user*
mms-lib/mms-lib.pro.user*
mms-lib/test/coverage/full.gcov
mms-lib/test/coverage/mms-lib.gcov
mms-lib/test/coverage/results
mms-lib/test/mms_lib_test.ncb
mms-lib/test/mms_lib_test.opt
mms-ofono/mms-ofono.pro.user*
mms-handler-dbus/mms-handler-dbus.pro.user*
mms-handler-dbus/test/mms_handler_dbus_server/test_mms_handler_dbus_server.pro.user*
mms-settings-dconf/mms-settings-dconf.pro.user*
mms-dump/mms_dump.ncb
mms-dump/mms_dump.opt
