*~
mms-engine/mms-engine.pro.user
mms-engine/build
mms-lib/mms-lib.pro.user
mms-lib/build
mms-lib/test/coverage/full.gcov
mms-lib/test/coverage/mms-lib.gcov
mms-lib/test/coverage/results
mms-lib/test/media_type/build
mms-lib/test/mms_codec/build
mms-lib/test/mms_lib_test.ncb
mms-lib/test/mms_lib_test.opt
mms-lib/test/read_report/build
mms-lib/test/retrieve/build
mms-lib/test/retrieve_cancel/build
mms-lib/test/retrieve_no_proxy/build
mms-ofono/mms-ofono.pro.user
mms-ofono/build
mms-handler-dbus/mms-handler-dbus.pro.user
mms-handler-dbus/build
mms-handler-dbus/test/mms_handler_dbus_server/build
mms-handler-dbus/test/mms_handler_dbus_server/test_mms_handler_dbus_server.pro.user
mms-handler-dbus/test/mms_handler_dbus_client/build
mms-dump/build
mms-dump/mms_dump.ncb
mms-dump/mms_dump.opt
mms-send/build
